spring:
  application:
    name: vehicle-maintenance

  datasource:
    url: jdbc:postgresql://localhost:5432/vehicle_maintenance
    username: kavak
    password: kavak123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    validate-on-migrate: true

server:
  port: 8080
